body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: url('https://cdn.pixabay.com/photo/2016/01/27/15/25/space-1164579_960_720.png') repeat; /* Star Wars theme - space background */
  color: #fff;
}
h1{ 
  color: #f9c74f;
  text-align: center;
  font-size: 35px;
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  margin: 10px 0;
}

h3{ 
  color: #f9c74f;
  font-size: 25px;
}

header {
  background-color: #111; 
  padding: 1rem;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

nav button {
  background-color: #f9c74f; 
  color: #000;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

nav button:hover {
  background-color: #ffd60a; 
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
  max-width: 800px; 
}

li {
  background-color: #222; 
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

li:hover {
  background-color: #ffd60a;
  color: #111;
}

li p {
  margin: 5px 0;
}

